* {
    font-family: 'Gantari', sans-serif;
    background-color: transparent;
}

aside {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: white;
    font-weight: bolder;
    margin: 0px 1px;
    padding: 5px 5px;


}

#headder-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 568px;
}

.header-float {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    margin: 15px 25px;
    margin-left: 75px;
    margin-right: 75px;
    padding: 25px 6px;
    width: 80%;
    border-radius: 35px;
    max-width: 1250px;
    box-shadow: 10px 5px 5px rgb(176, 176, 176);
    background: linear-gradient(#ffcb72, #5ccac1);
}

.header-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}

.header-photo {
    display: flex;
    width: 40%;
    align-items: center;
    position: relative;
}

.more-about-me-btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border: none;
    align-items: center;
    position: absolute;
    top: 53%;
    left: 11%;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 800;
    height: 45px;
    width: 120px;
    background-color: #972A30;
    color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

.more-about-me-btn:hover {
    background-color: #711a1f;
    color: #ffffff;
}

.more-about-me-btn:active {
    transform: scale(0.95);
    transition: ease-in-out;
}

.header-photo img {
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
    width: 72%;
    height: auto;
    max-height: 520px;
    max-width: 320px;
}

.header-hello {
    height: 10%;
    padding-left: 50px;
    padding-top: 29px;
    font-size: 39px;
    display: flex;
    flex-wrap: wrap;
    place-content: start;
    text-align: end;
    font-style: oblique;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.header-name {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-content: center;
    text-align: end;
    justify-content: end;
    padding-left: 15px;
    height: 45%;
    width: auto;
    font-size: 343%;
    font-weight: bolder;
    background-color: transparent;
    color: #972A30;
    text-shadow: rgb(255, 255, 255) 1px 1px 1.5px;
}

.header-title {
    font-weight: 550;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    padding-left: 25px;
    height: 20%;
    width: 70%;
    font-size: 23px;
    color: #942329;
    font-style: oblique;
}

.career {
    color: #000000;
    text-shadow: rgb(255, 255, 255) 1.5px 1px 2px;
}

.header-text {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header-text span {
    font-size: larger;
    font-weight: 500;
}

.empty {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.header-des {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 15px;
    border-left: 2px solid #ffcb72;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.header-des span {
    font-weight: bold;
}

#p-section {
    background-image: url(https://i.ibb.co/N1Qzw2X/360-F-557053828-q-Ck-YQBk-XHk-BVYhw9313m-Aje-Cy-Mm-SVeyu.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
}

.container {
    display: grid;
    width: 100%;
    height: fit-content;
    grid-template-areas: "prop prop prop "
        "recent recent listser"
        "te te te"
    ;
    grid-template-rows: 5% 85% 10%;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-brand {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

.prop {
    grid-area: prop;
    justify-self: center;
}

.recent {
    grid-area: recent;
    width: 80%;
}

.project-header-text {
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 2px 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #972A30;
    text-shadow: #ffffff 1px 1px 1px;
    font-weight: bold;
    font-style: oblique;
}

.what-i-do {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2px 2px;
    margin: 5px 5px;
    font-size: 36px;
    color: #972A30;
    font-weight: 300;
    font-style: oblique;
    text-shadow: rgb(255, 255, 255) 1px 1px 1.5px;
}

.refer-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #5ccac1;
    font-weight: 400;
    font-style: oblique;
    text-shadow: rgb(87, 87, 87) 1px 1px 1.5px;
}

.listser {
    align-items: center;
    justify-content: center;
    grid-area: listser;
    margin-left: 25px;
}

.listser div:nth-child(1) {
    background-color: #ffbd4b;
    border: none;
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.listser div:nth-child(3) {
    background: linear-gradient(#5ccac1, #f7f7f7);
    border: none;
}

.listser div:nth-child(4) {
    background: linear-gradient(#5ccac1, #f7f7f7);
    border: none;
}

.container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: none;
    box-shadow: 2px 2px 2px rgb(176, 176, 176);
    background-color: #5ccac1;
    border-radius: 5px;
    height: fit-content;
}


.tes-section {
    grid-area: te;
    justify-content: center;
    color: black;
}


.footer-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: transparent;
    color: white;
    width: auto;
    height: auto;
    margin: 30px 30px;
    padding: 20px 20px;
    justify-content: center;
}

.copyright {
    border: #972A30 dotted 2px;
    color: #000000;
    font-size: 11px;
    margin: 2px 25px;
    padding: 2px 8px;
    border-radius: 25px;
}

.contact-me-footer {
    border: #972A30 dotted 2px;
    color: #000000;
    font-weight: 700;
    font-size: 11px;
    margin: 2px 15px;
    padding: 2px 8px;
    border-radius: 25px;
}

.social {
    border: #972A30 dotted 2px;
    color: #000000;
    font-size: 11px;
    margin: 2px 15px;
    padding: 2px 8px;
    border-radius: 25px;
}



.hire-me button {
    background-color: #ffbd4b;
    color: white;
    text-shadow: #000000 0px 0px 1px;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    border: rgb(226, 226, 226) solid 1px;
    border-radius: 15px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.2), inset -2px -2px 3px rgba(234, 234, 234, 0.6);
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

.hire-me button:hover {
    background-color: #ffa407;
    color: #ffffff;
}

.hire-me button:active {
    transform: scale(0.95);
    transition: ease-in-out;
}

.listser .hire-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-btn {
    display: flex;
    justify-content: center;
}

.more-projects-btn {
    border-radius: 15px;
    border: none;
    font-size: 2rem;
    font-weight: 700;
    background-color: #c3383f;
    color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

.more-projects-btn:hover {
    background-color: #882c31;
    color: #ffffff;
}

.more-projects-btn:active {
    transform: scale(0.95);
    transition: ease-in-out;
}


@media (max-width:1165px) {

    .header-photo img {
        display: flex;
        flex-wrap: wrap;
        margin-left: 35px;
        width: 73%;
        height: auto;
        max-height: 360px;
        max-width: 238px;
    }

    .header-float {
        min-width: 548px;
    }

    #p-section {
        height: 761px;
    }

    #headder-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 400px;
    }

    .more-about-me-btn {
        top: 53%;
        left: 16%;
        font-size: 8px;
        font-weight: 700;
        height: 30px;
        width: 80px;
    }

    .more-about-me-btn:hover {
        background-color: #711a1f;
        color: #ffffff;
    }

    .header-hello {
        font-size: 35px;
    }

    .header-name {
        font-size: 200%;
    }

    .header-title {
        font-size: 15px;
    }


    .header-des {
        font-size: 12px;
    }

    .recent div {
        font-size: 28px;
        align-content: center;
        justify-content: center;

    }

    .what-i-do {
        margin-top: 40px;
        font-size: 20px;
    }

    .refer-header {
        margin-top: 15px;
        font-size: 19px;
    }

    .hire-me button {
        font-size: 1rem;
    }
}

@media (max-width:744px) {

    #p-section {
        height: fit-content;
    }

    #headder-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-width: 458px;
        height: 400px;
    }

    .more-about-me-btn {
        top: 53%;
        left: 20%;
        font-size: 8px;
        font-weight: 700;
        height: 30px;
        width: 80px;
    }

    .more-about-me-btn:hover {
        background-color: #711a1f;
        color: #ffffff;
    }

    .header-hello {
        font-size: 28px;
    }

    .header-name {
        font-size: 210%;
    }

    .header-title {
        font-size: 15px;
    }


    .header-des {
        font-size: 10px;
    }


    .project-header-text {
        margin-top: 40px;
        font-size: 20px;
    }

    .what-i-do {
        margin-top: 40px;
        font-size: 30px;
    }

    .refer-header {
        margin-top: 15px;
        font-size: 19px;
    }

    .hire-me button {
        font-size: 1rem;
    }

    .recent {
        margin-top: 100px;
    }
}

@media (max-width:415px) {

    .container {
        grid-template-rows: 5% 75% 20%;
    }

    .header-name {
        font-size: 160%;
        height: 35%;
        width: auto;
        font-weight: bolder;
        background-color: transparent;
        color: #972A30;
        text-shadow: rgb(255, 255, 255) 1px 1px 1.5px;
    }

    .project-header-text {
        margin-top: 30px;
        font-size: 40px;
    }

    #p-section {
        height: 780px;
    }

    #headder-block {
        height: 380px;
        width: 480px;
        position: relative;
    }

    .header-float {
        margin-left: 25px;
        margin-right: 25px;
    }

    .header-title {
        border-bottom: #ffcb72 solid 1.5px;
        width: 200px;
        height: auto;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        color: white;
        height: auto;
    }

    .header-photo img {
        position: absolute;
        top: 25%;
        left: -14%;
        width: 140px;

    }

    .more-about-me-btn {
        top: 66%;
        left: -55%;
        font-size: 9px;
        height: 25px;
        width: 100px;
        border-radius: 20px;
    }

    .empty {
        position: absolute;
        top: 80%;
        left: 25%;
    }

    .empty button {
        height: 40px;
        width: 180px;
    }

    .header-title {
        font-size: 10px;
        padding-bottom: 7px;
        color: #942329;
        font-style: oblique;
        justify-content: start;

    }

    .career {
        color: #000000;
        font-size: 17px;
        text-shadow: rgb(255, 255, 255) 1.5px 1px 2px;
    }

    .header-des {
        font-size: 9px;
        margin-top: 6.5px;
        border-left: none;
        justify-content: end;
    }

    .header-hello {
        height: 10%;
        padding-left: 50px;
        padding-top: 1px;
        font-size: 39px;
    }

    .hire-me button {
        width: 150px;
        height: 50px;
    }

    .refer-header {
        font-size: 35px;
        margin-top: 0px;
    }
}